<div class="container mt-3 pb-5">
  <h2 class="section-title text-center mt-5">Dashboard Business</h2>
  <div class="section-tag text-center mb-3">Summary of your products</div>
        <div class="m-4 p-4 bg-body round-1 shadow col-12">
            <h5 class="section-tag text-center">Total appointments for each business</h5>
            <%= pie_chart @business %>
        </div>
        <div class="row mt-5 ">
         <div class="section-tag col-12 text-center my-5">Total appointments for branchoffices</div>
           <div class="d-flex justify-content-between">
            <% @branchoffice.each do |branchoffice| %>
                <div class="p-4 bg-body round-1 shadow ">
                    <h5 class="section-tag text-center"><%= branchoffice[:name] %></h5> 
                    <%=column_chart branchoffice[:value]%>            
                </div>
            <%end%>
        </div>   
        </div>   
</div>

