<%= render 'shared/navbar' %>

<table>
  <thead>
    <tr>
      <th>Name</th>

    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="root"></div>
