<h1>Editing Branchoffice</h1>

<%= render 'form', branchoffice: @branchoffice %>

<%= link_to 'Show', business_branchoffice_path(@business,@branchoffice) %> |
<%= link_to 'Back', business_branchoffice_path(@business) %>
