<div class="container py-5">
    <div class="d-flex">
        <div class="col-1">
            <div class="form-inline input-field">
                <%= link_to( :back, class:"btn btn-add text-white"  ) do %>
                    <i class="fas fa-arrow-circle-left"></i> Back
                <% end %>
            </div>
        </div>
        <div class="col-11">
            <%= render 'form', branchoffice: @branchoffice %>
        </div>
    </div>
</div>

