<section class="copyright py-2 bg-dark">
    <div class="container d-flex justify-content-around">
        <p class="text-white m-0">
           &copy; 2021 | Appointment App. All rights reserved.
        </p>
        <p class="text-white m-0">Design: <a href="#!" >APPNOW</a></p>
    </div>
</section>