<p id="notice"><%= notice %></p>

<h1>Atention Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Branchoffice</th>
      <th colspan="6">Day</th>
    </tr>
  </thead>

  <tbody>
  
      <tr>
        <td><%= @atention_schedules.branchoffice_id %></td>
        <% @days.each do |day|%>
          <td><%= day%></td>
      <%end%>
      </tr>

  </tbody>
</table>

<br>

