/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require default.css 
 *= require app-css-variable.css
 *= require bootstrap.css 
 *= require bootstrap.min.css 
 *= require custom.css 
 *= require materialize.min.css 
 *= require owl.carousel.min.css 
 *= require_self
 */

 select{
     display: block!important;
 }

 .modal{
    background-color: rgb(0 0 0 / 42%)!important;
    max-height: 100%!important;
}
.modal-dialog{
    margin: 10rem auto!important;
}
.mgt-100{
    margin-top: 100px!important;
}

.round-1{
    border-radius: 1.3rem !important;
}

.round-top-1{
    border-top-left-radius: 1.3rem !important;
    border-top-right-radius: 1.3rem !important;
}
.effect-hover-up{
    transition: ease-in-out .2s;
}
.effect-hover-up:hover{
    transform: translate(5px, -5px);
    border-left: solid 5px #26a69a;
   
}
.cancel-icon{
    color:gray;
}
.cancel-icon:hover{
color:red;
}
.btn-add{
    background-color: #2e3192!important;
}
.btn-add:hover{
    background-color: white!important;
    color:#2e3192!important;
}